<div class="container py-4">
  <!-- head details -->
  <div class="pb-3">
    <button
      class="btn dropdown-toggle"
      type="button"
      id="groupDropdown"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="display-5 fw-light">{{ selectedGroup || "Devices" }}</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="groupDropdown">
      <button class="dropdown-item" (click)="reloadPage()">All Devices</button>
      <button
        class="dropdown-item"
        *ngFor="let group of apiGroups"
        (click)="selectGroup(group.group_name)"
      >
        {{ group.group_name }}
      </button>
    </div>
  </div>
  <div>Test</div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="mb-3 bg-white rounded-4 p-5">
        <div class="progress mb-2" style="height: 5px">
          <div
            class="progress-bar bg-primary"
            role="progressbar"
            style="width:100%;"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="h4 text-muted fw-light">Energy</div>
        <div class="fw-light mt-3 display-4">
        10 <span class="h4 text-muted fw-light">Kwh</span>
          <img src="/assets/img/img003.png" alt="..." class="img-fluid w-25 h-auto m-2 p-2" />
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="mb-3 bg-white rounded-4 p-5">
        <div class="progress mb-2" style="height: 5px">
          <div
            class="progress-bar bg-success"
            role="progressbar"
            style="width:100%;"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="h4 text-muted fw-light">Total Energy</div>

        <div class="fw-light mt-3 display-4">
       10 <span class="h4 text-muted fw-light">Kwh</span>
          <img src="/assets/img/img001.png" alt="..." class="img-fluid w-25 h-auto m-2 p-2" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="mb-3 bg-white rounded-4 p-5">
        <div class="progress mb-2" style="height: 5px">
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            style="width:100%;"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="h4 text-muted fw-light">Total Cost</div>

        <div class="fw-light mt-3 display-4">
        10 <span class="h4 text-muted fw-light">baht</span>
          <img src="/assets/img/img002.png" alt="..." class="img-fluid w-25 h-auto m-2 p-2" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="mb-3 bg-white rounded-4 p-5">
        <!-- <div class="h4">Realtime</div> -->
        <div class="row">
          <div class="col-12 col-sm-4 mt-4">
            <div class="pe-3">
              <div class="progress mb-2 me-5" style="height: 5px">
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  style="width: 100%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="h4 text-muted fw-light">Current</div>
            <div class="display-5 fw-light"> A</div>
            <img src="/assets/img/img004.png" alt="..." class="img-fluid w-25 h-auto m-2 p-2 d-none d-md-block" />
          </div>
          <div class="col-12 col-sm-4 mt-4">
            <div class="pe-3">
              <div class="progress mb-2 me-5" style="height: 5px">
                <div
                  class="progress-bar bg-danger"
                  role="progressbar"
                  style="width: 100%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="h4 text-muted fw-light">Voltage</div>
            <div class="display-5 fw-light"> V</div>
            <img src="/assets/img/img006.png" alt="..." class="img-fluid w-25 h-auto m-2 p-2 d-none d-md-block" />
          </div>
          <div class="col-12 col-sm-4 mt-4">
            <div class="pe-3">
              <div class="progress mb-2 me-5" style="height: 5px">
                <div
                  class="progress-bar bg-secondary"
                  role="progressbar"
                  style="width: 100%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>

            <div class="h4 text-muted fw-light">Power</div>
            <div class="display-5 fw-light"> W</div>
            <img src="/assets/img/img005.png" alt="..." class="img-fluid w-25 h-auto m-2 p-2 d-none d-md-block" />
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <div class="mb-3 bg-white rounded-4 p-5">
        <div class="h4 text-muted fw-light">Chart Energy</div>
        <div class="mb-2">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
            [dataLabels]="chartOptions.dataLabels"
            [markers]="chartOptions.markers"
            [tooltip]="chartOptions.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="mb-3 bg-white rounded-4 p-5">
        <div class="h4 text-muted fw-light">Chart Cost</div>
        <apx-chart
          [series]="chartOptions2.series"
          [chart]="chartOptions2.chart"
          [xaxis]="chartOptions2.xaxis"
          [yaxis]="chartOptions2.yaxis"
          [dataLabels]="chartOptions2.dataLabels"
          [markers]="chartOptions2.markers"
          [tooltip]="chartOptions2.tooltip"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
