<div class="h4 text-muted fw-light p-4">Chart Energy</div>
<div class="mb-2">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [dataLabels]="chartOptions.dataLabels"
    [markers]="chartOptions.markers"
    [tooltip]="chartOptions.tooltip"
  ></apx-chart>
</div>
<div class="h4 text-muted fw-light p4">Chart Cost</div>
<apx-chart
  [series]="chartOptions2.series"
  [chart]="chartOptions2.chart"
  [xaxis]="chartOptions2.xaxis"
  [yaxis]="chartOptions2.yaxis"
></apx-chart>
