#card {
    background: #fff;
    max-width: 650px;
    margin: 35px auto;
    padding: 0px;
    text-align: center;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 0;
    color: rgb(192, 192, 192);
  }
  h1 {
    font-size: 22px;
    margin-top: 0;
    color: #333;
  }

  .footer {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    font-size: 14px;
    text-align: center;
  }
