<div class="container py-4">
  <div class="p-2">
    <div class="display-5 fw-light mb-5">About</div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="mb-3 bg-white rounded-4 p-5">
        <div class="h4 text-muted fw-light">Developer</div>
        <img
          src="/assets/profile-img/03.jpg"
          class="img-fluid rounded-4"
          alt=""
        />
        <div class="display-5 fw-light mb-2">Tanapol Chamnanhan</div>
        <div class="">ชื่อ: นายธนพล ชำนาญหาญ</div>
        <div class="">รหัส: 163404140004</div>
        <div class="">สาขา: วิศวกรรมคอมพิวเตอร์</div>
        <div class="">คณะ: วิศวกรรมศาสตร์</div>
        <div class="">มหาวิทยาลัย: เทคโนโลยีราชมงคลศรีวิชัย</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="mb-3 bg-white rounded-4 p-5">
        <div class="h4 text-muted fw-light">Developer</div>
        <img
          src="/assets/profile-img/02.jpg"
          class="img-fluid rounded-4"
          alt=""
        />
        <div class="display-5 fw-light mb-2">Kanansak Sujaree</div>
        <div class="">ชื่อ: นายคณันสักก์ สุจารีย์</div>
        <div class="">รหัส: 163404140001</div>
        <div class="">สาขา: วิศวกรรมคอมพิวเตอร์</div>
        <div class="">คณะ: วิศวกรรมศาสตร์</div>
        <div class="">มหาวิทยาลัย: เทคโนโลยีราชมงคลศรีวิชัย</div>
      </div>
    </div>
  </div>
</div>
