<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <p class="display-5 fw-bold h1">About us</p>
  </header>
  <div class="row p-3 mb-3 bg-light rounded-4" >
      <div class="col-sm card p-5 mb-5 rounded-4 me-4">
        <p class="display-6 fw-bold">Tanapol Chamnanhan</p>
        <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.6435-9/130722102_1162527510828648_7152321462638267474_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_ohc=7Npe2EE2RpEAX8CMAjn&_nc_ht=scontent.fbkk14-1.fna&oh=00_AfDWwmF5TzIaPTtYEB_pSe4Gu_MPAuhrVzm3zZgQzCy23A&oe=64129681" class="card-img-top rounded-4" alt="...">
        <div class="card-body">
          <!-- < class="card-text"> -->
            <ul>
              <li>ชื่อ : นายธนพล ชำนาญหาญ</li>
              <li>รหัส : 163404140004</li>
              <li>สาขา : วิศวกรรมคอมพิวเตอร์</li>
              <li>คณะ : วิศวกรรมศาสตร์  </li>
              <li>มหาวิทยาลัย : เทคโนโลยีราชมงคลศรีวิชัย</li>
            </ul>

        </div>
      </div>
      <div class="col-sm card p-5 mb-5 rounded-4">
        <p class="display-6 fw-bold">Kanansak Sujaree</p>
        <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t39.30808-6/275286150_3027078817510289_6468165498628216692_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=QXOJY94FfS0AX8CtqAX&_nc_ht=scontent.fbkk10-1.fna&oh=00_AfCs0-wi4Dl57U69bMyK1lsDnYCI-6XkFU0oAZIdzEYf4g&oe=63F1C587" class="card-img-top rounded-4" alt="...">
        <div class="card-body">
          <p class="card-text">นายคณันสักก์ สุจารีย์ 163404140001 คณะวิศวกรรมศาสตร์ สาขาวิศวกรรมคอมพิวเตอร์ มหาวิทยาลัยเทคโนโลยีราชมงคลศรีวิชัย</p>
        </div>
      </div>
    </div>
    </div>

