<nav class="navbar navbar-expand-sm navbar-white bg-gradient fw-light h5">
  <div class="container-fluid ">
    <!-- <a class="navbar-brand" href="#">
      <h1>RUTS
        Platform</h1>
    </a> -->
    <a class="navbar-brand" routerLink="/home-component">
      <img src="https://pr.rmutsv.ac.th/sites/pr.rmutsv.ac.th/files/LOGO%20RUTS-07%20copy.png" alt="" width="100rem" height="20%">
    </a>
    <!-- <div class = "d-flex justify-content-end"> -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon border-0"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        <li class="nav-item">
          <a class="nav-link" a routerLink="/device-component"data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><i class="bi bi-plug-fill"></i> Device</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" a routerLink="/admin"  *ngIf="isAdmin"data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><i class="bi bi-clipboard2-data-fill"></i> Admin</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" a routerLink="/profile-component"data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  *ngIf="isLoggedIn"><i class="bi bi-person-fill"></i> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" a routerLink="/about-component"data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><i class="bi bi-people-fill"></i> About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login-component"data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" *ngIf="!isLoggedIn"><i class="bi bi-arrow-left-square-fill"></i> Log in</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" (click)="logout(); reloadPage()"data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><i class="bi bi-arrow-right-square-fill"></i> Logout</a>
        </li>



      </ul>

    </div>

</div>
</nav>


