<nav class="navbar navbar-expand-sm navbar-white bg-gradient">
  <div class="container-fluid ">
    <!-- <a class="navbar-brand" href="#">
      <h1>RUTS
        Platform</h1>
    </a> -->
    <a class="navbar-brand" routerLink="/home-component">
      <img src="https://pr.rmutsv.ac.th/sites/pr.rmutsv.ac.th/files/LOGO%20RUTS-07%20copy.png" alt="" width="100rem" height="20%">
    </a>
    <!-- <div class = "d-flex justify-content-end"> -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon border-0"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- <li class="nav-item">
          <a class="nav-link" a routerLink="/dashboard-component"><i class="bi bi-clipboard2-data-fill"></i> Dashboard</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" a routerLink="/device-component"><i class="bi bi-plug-fill"></i> Device</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" a routerLink="/about-component"><i class="bi bi-people-fill"></i> About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" a routerLink="/profile-component"  *ngIf="isLoggedIn"><i class="bi bi-person-fill"></i> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" a routerLink="/admin"  *ngIf="isAdmin"><i class="bi bi-clipboard2-data-fill"></i> Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login-component" *ngIf="!isLoggedIn"><i class="bi bi-arrow-left-square-fill"></i> Log in</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" (click)="logout(); reloadPage()"><i class="bi bi-arrow-right-square-fill"></i> Logout</a>
        </li>

        <!-- </li>
        <li class="nav-item ">
          <a class="nav-link" ><i class="bi bi-forward-fill"></i> Log Out</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" a routerLink="/profile-component"><i class="bi bi-forward-fill"></i> Log In</a>
        </li> -->

        <!-- <button type="button" class="btn btn-outline-danger">Danger</button> -->

        <!-- <li class="nav-item">
          <div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
              <button type="button" class="nav-link btn btn-link" (click)="auth.logout()"><i class="bi bi-arrow-left-square-fill"></i> Log out</button>
          </div>

          <ng-template #loggedOut>
              <button type="button" class="nav-link btn btn-link" (click)="auth.loginWithRedirect()"><i class="bi bi-arrow-right-square-fill"></i> Log in</button>
          </ng-template>
        </li> -->

      </ul>

    </div>
  <!-- </div> -->
</div>
</nav>
<!-- <div class="container-fluid py-3">
  <div class="row my-3">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <button class="btn btn-sm btn-outline-primary" (click)="open(demoModal)">Launch demo modal</button>
    </div>
  </div>
</div>
<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body"> -->

