@media only screen and (max-width: 800px) {
  #no-table table, #no-table thead, #no-table tbody, #no-table th, #no-table td, #no-table tr {
    display: block;
  }
  #no-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-table tr {
    border: 3px solid #ccc;
    border-radius: 10px;
  }
  #no-table td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
  }
  #no-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
  #no-table td:before {
    content: attr(data-title);
  }
}

th{
  border-bottom: 5px solid darkcyan;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
