<div class="container py-4">
  <header class="pb-3  ">
    <p class="display-5 fw-bold h1">Device</p>
  </header>

  <div class="row">

    <div class="col-sm p-3 mb-3 bg-white rounded-4 me-3" >
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Filter
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Provide</a></li>
          <li><a class="dropdown-item" href="#">University</a></li>
          <li><a class="dropdown-item" href="#">Building</a></li>
        </ul>
      <div class="table-responsive">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>
          <div id="no-table">
            <table class="col-sm-12 table">
              <thead class="cf">
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th>Bill</th>
                  <th>Usage</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-title="No.">Winter</td>
                  <td data-title="Name">Winter</td>
                  <td data-title="Address">Winter</td>
                  <td data-title="Status">Summer</td>
                  <td data-title="Bill">Summer</td>
                  <td data-title="Usage">Rainy</td>
                  <td data-title="Edit" class=""><i class="bi bi-pencil-square pe-3"></i><i class="bi bi-trash pe-3"></i><i class="bi bi-plus-circle-fill pe-3"></i></td>
                </tr>
                <tr>
                  <td data-title="No.">Winter</td>
                  <td data-title="Name">Winter</td>
                  <td data-title="Address">Winter</td>
                  <td data-title="Status">Summer</td>
                  <td data-title="Bill">Summer</td>
                  <td data-title="Usage">Rainy</td>
                  <td data-title="Edit" class=""><i class="bi bi-pencil-square pe-3"></i><i class="bi bi-trash pe-3"></i><i class="bi bi-plus-circle-fill pe-3"></i></td>
                </tr>
                <tr>
                  <td data-title="No.">Winter</td>
                  <td data-title="Name">Winter</td>
                  <td data-title="Address">Winter</td>
                  <td data-title="Status">Summer</td>
                  <td data-title="Bill">Summer</td>
                  <td data-title="Usage">Rainy</td>
                  <td data-title="Edit" class=""><i class="bi bi-pencil-square pe-3"></i><i class="bi bi-trash pe-3"></i><i class="bi bi-plus-circle-fill pe-3"></i></td>
                </tr>
                <tr>
                  <td data-title="No.">Winter</td>
                  <td data-title="Name">Winter</td>
                  <td data-title="Address">Winter</td>
                  <td data-title="Status">Summer</td>
                  <td data-title="Bill">Summer</td>
                  <td data-title="Usage">Rainy</td>
                  <td data-title="Edit" class=""><i class="bi bi-pencil-square pe-3"></i><i class="bi bi-trash pe-3"></i><i class="bi bi-plus-circle-fill pe-3"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>
