<p>device works!</p>
<!-- <div class="container"> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody class="bg-primary">
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<div class="px5">
<div class="row px5">
<div class="col px5 card" style="width: 18rem;">
  <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t39.30808-6/320455073_672816604313070_7825389616414912297_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=H-XAcF1W-LEAX_YRr_5&tn=t1WSSB2Ww8C4JQ6d&_nc_ht=scontent.fbkk14-1.fna&oh=00_AfBOX6XzIs1NJhpwwzDGwLHV-1DUwrMkdR4QyPqP5DUzJA&oe=63EE7A91" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Sop quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="col card px5" style="width: 18rem;">
  <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t39.30808-6/320455073_672816604313070_7825389616414912297_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=H-XAcF1W-LEAX_YRr_5&tn=t1WSSB2Ww8C4JQ6d&_nc_ht=scontent.fbkk14-1.fna&oh=00_AfBOX6XzIs1NJhpwwzDGwLHV-1DUwrMkdR4QyPqP5DUzJA&oe=63EE7A91" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Sop quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="col card px5" style="width: 18rem;">
  <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t39.30808-6/320455073_672816604313070_7825389616414912297_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=H-XAcF1W-LEAX_YRr_5&tn=t1WSSB2Ww8C4JQ6d&_nc_ht=scontent.fbkk14-1.fna&oh=00_AfBOX6XzIs1NJhpwwzDGwLHV-1DUwrMkdR4QyPqP5DUzJA&oe=63EE7A91" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Sop quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<!-- </div> -->
