<div class="container">
  <div class="row">
    <div
      class="col-sm-12 col-md-4 col-xl-3"
      *ngFor="let device_id of device_id"
    >
      <div class="bg-white mb-5 p-4 rounded-5">
        <div class="text-center mb-4 mt-1">
          <img
            src="/assets/img/{{ latestDeviceData[device_id]?.status }}.jpg"
            class="card-img-top rounded-4 img-small"
            style="width: 100px; /* กำหนดความกว้างของรูปภาพ */ height: auto"
            alt="..."
          />
        </div>
        <div class="h2 mb-2 fw-normal">
          {{ latestDeviceData[device_id]?.device_name }}
        </div>
        <div class="fw-light">
          Device ID: {{ latestDeviceData[device_id]?.device_id }}
        </div>
        <p class="fw-light">
          Type: {{ latestDeviceData[device_id]?.device_type === 1 ? 'ESP' : latestDeviceData[device_id]?.device_type === 2 ? 'Tuya' : 'Unknown' }}
        </p>
        <p class="fw-light">
          Group: {{ latestDeviceData[device_id]?.group_id === 1 ? 'A' : latestDeviceData[device_id]?.group_id === 2 ? 'B' : 'Unknown' }}
        </p>
        
        <div class="fw-light">
          Status: {{ latestDeviceData[device_id]?.status }}
        </div>

        <div class="bg-light rounded-5">
          <button
            class="btn me-2"
            [routerLink]="['/dashboard-component']"
            [queryParams]="{ device_id: device_id }"
          >
            <i class="bi bi-box-arrow-in-right" style="font-size: 30px"></i>
          </button>
          <button
            (click)="enableEditMode(device_id)"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
          >
            <i
              class="bi bi-pencil-square text-primary"
              style="font-size: 26px"
            ></i>
          </button>
          <!-- <button
            class="btn"
            (click)="setCurrentDeviceId(device_id)"
            data-bs-toggle="modal"
            data-bs-target="#mapModal"
          >
            <i class="bi bi-geo-alt text-primary" style="font-size: 26px"></i>
          </button> -->
          <!-- Info Button -->
          <button
            (click)="enableInfoMode(device_id)"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#infoModal"
          >
            <i
              class="bi bi-info-circle text-success"
              style="font-size: 26px"
            ></i>
          </button>

          <button (click)="deleteData(device_id)" class="btn">
            <i class="bi bi-trash text-danger" style="font-size: 26px"></i>
          </button>
        </div>
        <!-- Info Modal -->
        <div
          class="modal fade"
          id="infoModal"
          tabindex="-1"
          aria-labelledby="infoModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title fw-light h2" id="infoModalLabel">
                  {{ latestDeviceData[currentDeviceId]?.device_name }}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="bg-white mb-1 rounded-5">
                  <p class="fw-light">
                    Device ID:
                    {{ latestDeviceData[currentDeviceId]?.device_id }}
                  </p>
                  <p class="fw-light">
                    Details:
                    {{ latestDeviceData[currentDeviceId]?.device_detail }}
                  </p>
                  <p class="fw-light">
                    Location:
                    {{ latestDeviceData[currentDeviceId]?.device_location }}
                  </p>
                  <p class="fw-light">
                    Type: {{ latestDeviceData[currentDeviceId]?.device_type === 1 ? 'ESP' : latestDeviceData[currentDeviceId]?.device_type === 2 ? 'Tuya' : 'Unknown' }}
                  </p>
                  <p class="fw-light">
                    Group: {{ latestDeviceData[currentDeviceId]?.group_id === 1 ? 'A' : latestDeviceData[currentDeviceId]?.group_id === 2 ? 'B' : 'Unknown' }}
                  </p>                  
                  <!-- Add status to display online/offline status -->
                  <p class="fw-light">
                    Status: {{ latestDeviceData[currentDeviceId]?.status }}
                  </p>
                  <p class="fw-light">
                    Modified:
                    {{
                      latestDeviceData[currentDeviceId]?.modified_timestamp
                        | date : "dd MMM y HH.mm"
                    }}
                  </p>
                  <!-- Rest of the content for this device card -->
                </div>

                <!-- Display Map Here -->
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="mapModalLabel">
                        Map : {{ currentDeviceId }}
                      </h5>
                    </div>
                    <div class="modal-body modal-lg text-center">
                      <img
                        src="http://localhost:3000/uploads/{{
                          currentDeviceId
                        }}"
                        class="img-fluid"
                        alt="Maps"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  (click)="reloadPage()"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- แก้ไขข้อมูล -->
        <!-- Edit Device Modal -->
        <div
          class="modal fade"
          id="editModal"
          tabindex="-1"
          aria-labelledby="editModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title h5 fw-light" id="editModalLabel">
                  Edit Device
                </div>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form (submit)="saveData()" #editForm="ngForm">
                  <!-- Add your form fields here -->
                  <div class="form-group">
                    <label for="device_id">Device ID:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="device_id"
                      [(ngModel)]="editedData.device_id"
                      name="device_id"
                      readonly
                    />
                  </div>

                  <!-- Device Name -->
                  <div class="form-group">
                    <label for="device_name">Device Name:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="device_name"
                      [(ngModel)]="editedData.device_name"
                      name="device_name"
                      required
                    />
                  </div>

                  <!-- Device Detail -->
                  <div class="form-group">
                    <label for="device_detail">Device Detail:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="device_detail"
                      [(ngModel)]="editedData.device_detail"
                      name="device_detail"
                      required
                    />
                  </div>

                  <!-- Device Location -->
                  <div class="form-group">
                    <label for="device_location">Device Location:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="device_location"
                      [(ngModel)]="editedData.device_location"
                      name="device_location"
                      required
                    />
                  </div>

                  <!-- Device Map -->
                  <div class="form-group">
                    <label for="device_map_img">Device Map:</label>

                    <input
                      type="file"
                      class="form-control"
                      id="device_map_img"
                      (change)="onFileSelected($event)"
                    />
                  </div>

                  <!-- Device Type -->
                  <div class="form-group">
                    <label for="device_type">Device Type:</label>
                    <select
                      class="form-control"
                      id="device_type"
                      [(ngModel)]="editedData.device_type"
                      name="device_type"
                      required
                    >
                      <option [ngValue]="null">Select Device Type</option>
                      <option [ngValue]="1">ESP</option>
                      <option [ngValue]="2">Tuya</option>
                    </select>
                  </div>

                  <!-- Group ID -->
                  <div class="form-group">
                    <label for="group_id">Group ID:</label>
                    <select
                      class="form-control"
                      id="group_id"
                      [(ngModel)]="editedData.group_id"
                      name="group_id"
                      required
                    >
                      <option [ngValue]="null">Select Group ID</option>
                      <option [ngValue]="1">A</option>
                      <option [ngValue]="2">B</option>
                    </select>
                  </div>

                  <!-- Error message -->
                  <div *ngIf="editForm.invalid" class="alert alert-danger my-2">
                    Please fill in all required fields.
                  </div>

                  <!-- Add more fields as needed -->
                  <div class="mt-2">
                    <button
                      (click)="onUpload(); saveData(); reloadPage()"
                      type="submit"
                      class="btn btn-success me-2"
                      [disabled]="
                        editForm.invalid ||
                        (selectedFile && selectedFile.size > 5 * 1024 * 1024)
                      "
                      data-bs-dismiss="modal"
                    >
                      Save
                    </button>

                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                      (click)="cancelEditMode()"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- แก้ไขข้อมูล -->
      </div>
    </div>
  </div>
</div>
