<div class="row">
  <div class="h1 col-10">Data</div>

  <!-- แสดงปุ่มเพิ่ม -->
  <button (click)="enableAddMode()" class="btn mb-3 col-2">
    <i class="bi bi-plus-circle-fill text-primary" style="font-size: 30px"></i>
  </button>

</div>

<!-- เพิ่มข้อมูล -->
<div *ngIf="addMode" class="container mt-3">
  <h3>เพิ่มข้อมูลใหม่</h3>
  <form (submit)="createNewData(newData)">
    <div class="form-group">
      <label for="new_device_id">ESP ID:</label>
      <input
        type="text"
        class="form-control"
        id="new_device_id"
        [(ngModel)]="newData.device_id"
        name="new_device_id"
        required
      />
    </div>
    <div class="form-group">
      <label for="new_device_name">Device Name:</label>
      <input
        type="text"
        class="form-control"
        id="new_device_name"
        [(ngModel)]="newData.device_name"
        name="new_device_name"
        required
      />
    </div>
    <div class="form-group">
      <label for="new_device_detail">Device Detail:</label>
      <input
        type="text"
        class="form-control"
        id="new_device_detail"
        [(ngModel)]="newData.device_detail"
        name="new_device_detail"
        required
      />
    </div>
    <div class="form-group">
      <label for="new_device_location">Device Location:</label>
      <input
        type="text"
        class="form-control"
        id="new_device_location"
        [(ngModel)]="newData.device_location"
        name="new_device_location"
        required
      />
    </div>
    <button type="submit" class="btn btn-success">เพิ่ม</button>
    <button (click)="cancelAddMode()" class="btn btn-secondary">ยกเลิก</button>
  </form>
</div>

<!-- แสดงข้อมูล -->
<div *ngIf="!editMode">
  <div id="no-table">
    <table class="col-sm-12 table">
      <thead class="cf">
        <tr>
          <th>Device ID</th>
          <th>Device Name</th>
          <th>Device Detail</th>
          <th>Device location</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td data-title="Device ID">{{ item.device_id }}</td>
          <td data-title="Device Name">{{ item.device_name }}</td>
          <td data-title="Device Detail">{{ item.device_detail }}</td>
          <td data-title="Device Location">{{ item.device_location }}</td>
          <td data-title="Created At">
            {{ item.created_timestamp | date : "yyyy-MM-dd HH:mm:ss" }}
          </td>
          <td data-title="Updated At">
            {{ item.modified_timestamp | date : "yyyy-MM-dd HH:mm:ss" }}
          </td>
          <!-- แก้ไขข้อมูล -->
          <td data-title="Actions">
            <button (click)="enableEditMode(item)" class="btn ">
              <i class="bi bi-pencil-square text-primary" style="font-size: 26px"></i>
            </button>
            <button (click)="deleteData(item.device_id)" class="btn">
              <i class="bi bi-trash-fill text-danger" style="font-size: 26px"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- แก้ไขข้อมูล -->
<div *ngIf="editMode">
  <form (submit)="saveData()">
    <!-- <div class="form-group">
      <label for="device_id">Device ID:</label>
      <input type="text" class="form-control" id="device_id" [(ngModel)]="editedData.device_id" name="device_id">
    </div> -->
    <div class="form-group h3">
      <label for="device_id">ESP ID :</label>
      <span id="device_id"> {{ editedData.device_id }}</span>
    </div>
    <div class="form-group">
      <label for="device_name">device_name:</label>
      <input
        type="text"
        class="form-control"
        id="device_name"
        [(ngModel)]="editedData.device_name"
        name="device_name"
      />
    </div>
    <div class="form-group">
      <label for="device_detail">device_detail:</label>
      <input
        type="text"
        class="form-control"
        id="device_detail"
        [(ngModel)]="editedData.device_detail"
        name="device_detail"
      />
    </div>
    <div class="form-group">
      <label for="device_location">device_location:</label>
      <input
        type="text"
        class="form-control"
        id="device_location"
        [(ngModel)]="editedData.device_location"
        name="device_location"
      />
    </div>
    <button type="submit" class="btn btn-success">บันทึก</button>
    <button (click)="cancelEditMode()" class="btn btn-secondary">ยกเลิก</button>
  </form>
</div>
