<div class="container py-4">
  <!-- head details -->
  <div class="p-2">
    <div class="display-5 fw-normal mb-5">Dashboard</div>
    <div class="row">
      <div class="col-sm-12">
        <div class="mb-3 bg-white rounded-4 p-5" style="height: 555px; overflow-y: auto;">
          <app-table-device></app-table-device>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="mb-3 bg-white rounded-4 p-5" style="height: 555px; overflow-y: auto;">
          <app-table-users></app-table-users>
        </div>
      </div>
    </div>
  </div>
</div>
