<div class="container py-4">
  <header class="pb-3 mb-4">
    <p class="display-5 fw-bold h1">Your Profile</p>
  </header>
  <div class="row p-3 mb-3 bg-light rounded-4" >


<div class="list-group rounded-4" *ngIf="auth.user$ | async as user">
  <a class="list-group-item ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-2 mt-2"><img src="{{user.picture}}" class="rounded mx-auto d-block" alt="user-picture"></h5>

    </div>
  </a>


  <a class="list-group-item ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name</h5>

    </div>
    <p class="mb-1">{{user.name}}</p>

  </a>

  <a class="list-group-item ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Email</h5>

    </div>
    <p class="mb-1">{{user.email}}</p>

  </a>


  <a class="list-group-item ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Phone No.</h5>

    </div>
    <p class="mb-1">{{user.phone_number}}</p>

  </a>

  <a class="list-group-item ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Locale</h5>

    </div>
    <p class="mb-1">{{user.locale}}</p>

  </a>
</div>
</div>
</div>
