<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <p class="display-5 fw-bold h1">Dashboard</p>
  </header>
  <div class="row p-3 mb-3 bg-light rounded-4" >
  <table class="table bg-warning">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody class="bg-light">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <!-- </div> -->

<app-chart></app-chart>