<div class="container py-4">
  <!-- head details -->
  <header class="pb-3">
    <h1 class="display-5 fw-bold">Dashboard</h1>
    <p class="fs-5 text-muted">Device ID: {{ device_id }}</p>
  </header>

  <div class="row">
    <div class="col-sm-12 col-lg-5 p-3 mb-3 bg-white rounded-4 me-3">
      <h4 class="fw-bold">Current Usage</h4>
      <p class="fs-5 text-muted">Electricity</p>
      <div>
        <app-circle-chart></app-circle-chart>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6 p-3 me-3 mb-3 bg-white rounded-4">
      <h4 class="fw-bold">Summary</h4>
      <p class="fs-5 text-muted">Month, Week , Day</p>
      <p>Month</p>
      <div>200 หน่วย</div>
      <p>Week</p>
      <div>100 หน่วย</div>
      <p>Day</p>
      <div>50 หน่วย</div>
    </div>

    <div class="row">
      <div class="col-sm-12 p-3 mb-3 bg-white rounded-4">
        <h4 class="fw-bold">Chart</h4>
        <p class="fs-5 text-muted">Power Usage and Cost</p>
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>
