<div class="container py-4">
  <header class="pb-3">
    <h1 class="display-5 fw-bold">Dashboard</h1>
  </header>

  <div class="row">
    <div class="col-sm-12 col-lg-5 p-3 mb-3 bg-white rounded-4 me-3">
      <h4 class="fw-bold">Current Usage</h4>
      <p class="fs-5 text-muted">Electricity</p>
      <div>
        <app-circle-chart></app-circle-chart>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6 p-3 me-3 mb-3 bg-white rounded-4">
      <h4 class="fw-bold">Summary</h4>
      <p class="fs-5 text-muted">Month, Week , Day</p>
      <p>Month</p>
      <div class="progress mb-3">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 50%"
          aria-valuenow="0"
          aria-valuemin=""
          aria-valuemax="100"
        ></div>
      </div>
      <p>Week</p>
      <div class="progress mb-3">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 70%"
          aria-valuenow="0"
          aria-valuemin=""
          aria-valuemax="100"
        ></div>
      </div>
      <p>Day</p>
      <div class="progress mb-3">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 10%"
          aria-valuenow="0"
          aria-valuemin=""
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 p-3 mb-3 bg-white rounded-4">
        <h4 class="fw-bold">Chart</h4>
        <p class="fs-5 text-muted">Power Usage and Cost</p>
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>
